<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blend.Interactivity.Wpf" version="1.0.1340.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net45" />
  <package id="Microsoft.SDK.Expression.Blend" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.2" targetFramework="net45" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net45" />
</packages>